<ion-content >
  <ion-menu contentId="main-content" class="menu-main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
      <ion-list>
        <ion-item href="/">Inicio</ion-item>
        <ion-item href="/contacto" *ngIf="isAdmin == false && isFinalUser == false">Contacto</ion-item>
        <ion-item href="/nosotros">Nosotros</ion-item>
        <ion-item href="/noticias">Noticias</ion-item>
        <ion-item href="/panaderia">Panadería</ion-item>
        <ion-item href="/pasteleria">Pastelería</ion-item>
        <ion-item href="/blog">Blog</ion-item>
        <ion-item href="/login" *ngIf="isLoggedIn == false">Iniciar Sesión</ion-item>
        <ion-item href="/" *ngIf="isLoggedIn == true" (click)="logOut()">Cerrar Sesión</ion-item>
        <ion-item href="/carrito">Carrito</ion-item>
        <ion-item href="/boleta"  *ngIf="isLoggedIn == true && isAdmin == false && isFinalUser == false">Compras</ion-item>
        <ion-item href="/administracion" *ngIf="isAdmin == true || isFinalUser == true">Administración</ion-item>
      </ion-list>
    </ion-header>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar >
        <ion-buttons slot="start" class="menu-button">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
          <ion-row class="header ion-align-items-center">
            <ion-col size="1">
              <img src="assets/img/logo.jpg" width="50px">
            </ion-col>
            <ion-col size="10" class="ion-text-left">
              <ion-button fill="clear"  href="/">
              Inicio
              </ion-button>
              <ion-button fill="clear" *ngIf="isAdmin == false && isFinalUser == false" href="/contacto">
              Contacto
              </ion-button>
              <ion-button fill="clear"  href="/nosotros">
              Nosotros
              </ion-button>
              <ion-button fill="clear"  href="/noticias">
              Noticias
              </ion-button>
              <ion-button fill="clear" href="/panaderia">
              Panadería
              </ion-button>
              <ion-button fill="clear" href="/pasteleria">
              Pastelería
              </ion-button>
              <ion-button fill="clear" href="/blog">
              Blog
              </ion-button>
              <ion-button fill="clear" href="/boleta" *ngIf="isLoggedIn == true && isAdmin == false && isFinalUser == false">
              Compras
              </ion-button>
              <ion-button fill="clear" *ngIf="isLoggedIn == false" href="/login">
              Iniciar sesión
              </ion-button>
              <ion-button fill="clear" *ngIf="isLoggedIn == true" (click)="logOut()" href="/">
              Cerrar sesión
              </ion-button>
              <ion-button fill="clear" *ngIf="isAdmin == true || isFinalUser == true"  href="/administracion">
              Administración
              </ion-button>
            </ion-col>
            <ion-col size="1" class="cart">
              <ion-button fill="clear" href="/carrito">
                <ion-icon slot="icon-only" name="cart" ></ion-icon>
              </ion-button>
          </ion-col>
        </ion-row>
      </ion-toolbar>
    </ion-header>
  </div>


  <br>
  <br>
  <br>
  <br>

  <div class="centrar">
    <ion-button href="/crud-productos" >Volver</ion-button>
  </div>

  <div class="register-section ion-padding">
    <div class="heading ion-padding">
      <ion-title>Ingrese los datos del producto que desea añadir</ion-title>
    </div>
    <div class="register-form ion-padding">
      <form [formGroup]="formProduct">
      <div class="form-input">
        <ion-select aria-label="Categoria" placeholder="Selecciona la categoria a la que pertenece este producto" formControlName="category">
          <ion-select-option value="panaderia">Panadería</ion-select-option>
          <ion-select-option value="pasteleria">Pastelería</ion-select-option>
        </ion-select>
      </div>
      <div class="form-input">
        <ion-item>
          <ion-label position="floating">Nombre del producto</ion-label>
          <ion-input  aria-label="name" type="text" clearOnEdit="false" placeholder="Ingrese el nombre del producto" class="form-control" formControlName="name"></ion-input>
        </ion-item>
      </div>
      <div class="form-input">
        <ion-item>
          <ion-label position="floating">Descripción</ion-label>
          <br>
          <ion-textarea rows="10" aria-label="desc" type="text" placeholder="Ingrese la descripción del producto" class="form-control" formControlName="description"></ion-textarea>
          <!--<ion-input  aria-label="name" type="text" class="form-control" formControlName="description"></ion-input>-->
        </ion-item>
      </div>
      <div class="form-input">
        <ion-item>
          <input type="file" class="form-control" formControlName="img" id="imageInput" (change)="onFileSelected($event)" accept="image/*">
        </ion-item>
      </div>
      <div class="form-input">
        <ion-item>
          <ion-label position="floating">Precio</ion-label>
          <ion-input aria-label="price" type="number" class="form-control" placeholder="Ingrese el precio del producto" formControlName="price"></ion-input>
        </ion-item>
      </div>
      <div class="form-input">
        <ion-item>
          <ion-label position="floating">stock</ion-label>
          <ion-input aria-label="stock" type="number" class="form-control" formControlName="stock"></ion-input>
        </ion-item>
      </div>
      <div class="form-input">
        <ion-select aria-label="destacado" placeholder="Desea que este producto sea destacado?" formControlName="destacado">
          <ion-select-option value="false">No</ion-select-option>
          <ion-select-option value="true">Si</ion-select-option>
        </ion-select>
      </div>
      <div class="boton">
        <ion-button size="large" class="register" [disabled]="formProduct.invalid" (click)="addProduct()" >Añadir producto</ion-button>
      </div>
      </form>
    </div>

  </div>
</ion-content>
