.header{
    background-color: black;
    outline: white;
  }
  
  @media(min-width: 1024px){
    .menu-button{
      display: none;
    }
  
    .menu-main-content{
      display: none;
    }
  
   
    
  }
  
  @media(max-width:1023px){
    .header{
      display: none;
    }
  
  }
  

