<ion-content >
  <ion-menu contentId="main-content" class="menu-main-content">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
      <ion-list>
        <ion-item href="/">Inicio</ion-item>
        <ion-item href="/contacto" *ngIf="isAdmin == false && isFinalUser == false">Contacto</ion-item>
        <ion-item href="/nosotros">Nosotros</ion-item>
        <ion-item href="/noticias">Noticias</ion-item>
        <ion-item href="/panaderia">Panaderia</ion-item>
        <ion-item href="/pasteleria">Pasteleria</ion-item>
        <ion-item href="/blog">Blog</ion-item>
        <ion-item href="/login" *ngIf="isLoggedIn == false">Iniciar Sesión</ion-item>
        <ion-item href="/" *ngIf="isLoggedIn == true" (click)="logOut()">Cerrar Sesión</ion-item>
        <ion-item href="/carrito">Carrito</ion-item>
        <ion-item href="/boleta"  *ngIf="isLoggedIn == true && isAdmin == false && isFinalUser == false">Compras</ion-item>
        <ion-item href="/administracion" *ngIf="isAdmin == true || isFinalUser == true">Administración</ion-item>
      </ion-list>
    </ion-header>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar >
        <ion-buttons slot="start" class="menu-button">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
          <ion-row class="header ion-align-items-center">
            <ion-col size="1">
              <img src="assets/img/logo.jpg" width="50px">
            </ion-col>
            <ion-col size="10" class="ion-text-left">
              <ion-button fill="clear"  href="/">
              Inicio
              </ion-button>
              <ion-button fill="clear" *ngIf="isAdmin == false && isFinalUser == false" href="/contacto">
              Contacto
              </ion-button>
              <ion-button fill="clear"  href="/nosotros">
              Nosotros
              </ion-button>
              <ion-button fill="clear"  href="/noticias">
              Noticias
              </ion-button>
              <ion-button fill="clear" href="/panaderia">
              Panaderia
              </ion-button>
              <ion-button fill="clear" href="/pasteleria">
              Pasteleria
              </ion-button>
              <ion-button fill="clear" href="/blog">
              Blog
              </ion-button>
              <ion-button fill="clear" href="/boleta" *ngIf="isLoggedIn == true && isAdmin == false && isFinalUser == false">
                Compras
              </ion-button>
              <ion-button fill="clear" *ngIf="isLoggedIn == false" href="/login">
              Iniciar sesión
              </ion-button>
              <ion-button fill="clear" *ngIf="isLoggedIn == true" (click)="logOut()" href="/">
              Cerrar sesión
              </ion-button>
              <ion-button fill="clear" *ngIf="isAdmin == true || isFinalUser == true"  href="/administracion">
              Administracion
              </ion-button>
            </ion-col>
            <ion-col size="1" class="cart">
              <ion-button fill="clear" href="/carrito">
                <ion-icon slot="icon-only" name="cart" ></ion-icon>
              </ion-button>
          </ion-col>
        </ion-row>
      </ion-toolbar>
    </ion-header>
  </div>

  <br>
  <br>
  <br>
  <br>



  <main>

    <!--Acerca de-->
    <h2>Acerca de Olivia panaderia y pasteleria saludable</h2>
    <p>Olivias Panadería & Pastelería Saludable es un emprendimiento familiar que se dedica a elaborar
      productos saludables de panadería y pastelería creando productos para distintas alergias
      alimentarias principalmente para diabéticos y celiacos.
      El objetivo de este emprendimiento es entregar un producto que cubra las distintas problemáticas
      de salud utilizando materias primas de calidad a través de la compra de insumos locales.
      Por otra parte lo que busca este proyecto es desarrollar productos personalizados para cada
      dolencia de salud donde la dueña del negocio cuenta con experiencia de varios años a nivel
      internacional y nacional y con una maestría e celiaquía que le asegura entregar productos de buena
      calidad de acuerdo a las necesidades de sus clientes.
    </p>
    <img src="assets/img/logo.jpg" alt="">
    <p class="caption"></p>

  </main>

  <footer>
    <p></p>
  </footer>
</ion-content>