<ion-content >
  <ion-menu contentId="main-content" class="menu-main-content">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
      <ion-list>
        <ion-item href="/">Inicio</ion-item>
        <ion-item href="/contacto" *ngIf="isAdmin == false && isFinalUser == false">Contacto</ion-item>
        <ion-item href="/nosotros">Nosotros</ion-item>
        <ion-item href="/noticias">Noticias</ion-item>
        <ion-item href="/panaderia">Panaderia</ion-item>
        <ion-item href="/pasteleria">Pasteleria</ion-item>
        <ion-item href="/blog">Blog</ion-item>
        <ion-item href="/login" *ngIf="isLoggedIn == false">Iniciar Sesión</ion-item>
        <ion-item href="/" *ngIf="isLoggedIn == true" (click)="logOut()">Cerrar Sesión</ion-item>
        <ion-item href="/carrito">Carrito</ion-item>
        <ion-item href="/boleta"  *ngIf="isLoggedIn == true && isAdmin == false && isFinalUser == false">Compras</ion-item>
        <ion-item href="/administracion" *ngIf="isAdmin == true || isFinalUser == true">Administración</ion-item>
      </ion-list>
    </ion-header>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar >
        <ion-buttons slot="start" class="menu-button">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
          <ion-row class="header ion-align-items-center">
            <ion-col size="1">
              <img src="assets/img/logo.jpg" width="50px">
            </ion-col>
            <ion-col size="10" class="ion-text-left">
              <ion-button fill="clear"  href="/">
              Inicio
              </ion-button>
              <ion-button fill="clear" *ngIf="isAdmin == false && isFinalUser == false" href="/contacto">
              Contacto
              </ion-button>
              <ion-button fill="clear"  href="/nosotros">
              Nosotros
              </ion-button>
              <ion-button fill="clear"  href="/noticias">
              Noticias
              </ion-button>
              <ion-button fill="clear" href="/panaderia">
              Panaderia
              </ion-button>
              <ion-button fill="clear" href="/pasteleria">
              Pasteleria
              </ion-button>
              <ion-button fill="clear" href="/blog">
              Blog
              </ion-button>
              <ion-button fill="clear" href="/boleta" *ngIf="isLoggedIn == true && isAdmin == false && isFinalUser == false">
              Compras
              </ion-button>
              <ion-button fill="clear" *ngIf="isLoggedIn == false" href="/login">
              Iniciar sesión
              </ion-button>
              <ion-button fill="clear" *ngIf="isLoggedIn == true" (click)="logOut()" href="/">
              Cerrar sesión
              </ion-button>
              <ion-button fill="clear" *ngIf="isAdmin == true || isFinalUser == true"  href="/administracion">
              Administracion
              </ion-button>
            </ion-col>
            <ion-col size="1" class="cart">
              <ion-button fill="clear" href="/carrito">
                <ion-icon slot="icon-only" name="cart" ></ion-icon>
              </ion-button>
          </ion-col>
        </ion-row>
      </ion-toolbar>
    </ion-header>
  </div>



  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="products">
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col sizeLg="6" sizeXs="12" *ngFor="let arr of objetos; let i = index">
        <ion-card *ngFor="let objeto of arr" class="carta">
          <ion-grid>
            <ion-row>
              <ion-col size="4">
                <ion-img class="img-product" [src]="objeto.img"></ion-img>
              </ion-col>
              <ion-col size="4" class="datos">
                <ion-card-title>{{ objeto.nombre_producto }}</ion-card-title>
                <ion-card-subtitle>{{ objeto.description }}</ion-card-subtitle>
                <ion-card-content>
                  Precio unitario: ${{ objeto.price}}</ion-card-content>
                <ion-card-content>Precio total: ${{ objeto.price * objeto.compra}}</ion-card-content>
                <ion-card-content>Cantidad: {{ objeto.compra }}</ion-card-content>
                <ion-button *ngIf="isAdmin == true || isFinalUser == true" color="danger" (click)="borrar(objeto.id)">Eliminar producto</ion-button>
              </ion-col>

            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>


  <div class="centrar">
    <ion-button (click)="borrarTodo()" color="danger">Borrar Todo</ion-button>
    <ion-text>total a pagar: ${{precio_total}}</ion-text>
    <ion-button (click)="realizarSolicitud()">Pagar</ion-button>
  </div>

