@font-face {
  font-family: RobotoLight;
  src: url("/assets/fonts/Roboto-Light.ttf"); //change url accordingly
  }

*{
  font-family: 'RobotoLight', 'sans-serif';
}

.header{
    background-color: white;
    outline: white;
  }

  @media(min-width: 1024px){
    .menu-button{
      display: none;
    }

    .menu-main-content{
      display: none;
    }



  }

  @media(max-width:1023px){
    .header{
      display: none;
    }

  }

  .carta {
    width: 100%; /* Establece la altura al 100% del viewport */
    --background: #ffac75;
  }

  ion-row,
  ion-col,
  ion-card,
  ion-grid {
    height: 100%; /* Hace que los elementos ocupen el 100% del contenedor */
  }

  .datos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
  }

  ion-card-title, ion-card-subtitle{
    color: black;
  }

  .centrar{
    align-items: center ;
    align-content: center;
    text-align: center;
    font-size: 24px;
    color: black;
  }

  ion-content{
    --background: #ffc3a0;
  }

  ion-title{
    color: black;
    font-size: 30px;
    text-align: center;
  }