<ion-content >
  <ion-menu contentId="main-content" class="menu-main-content">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
      <ion-list>
        <ion-item href="/">Inicio</ion-item>
        <ion-item href="/contacto" *ngIf="isAdmin == false && isFinalUser == false">Contacto</ion-item>
        <ion-item href="/nosotros">Nosotros</ion-item>
        <ion-item href="/noticias">Noticias</ion-item>
        <ion-item href="/panaderia">Panaderia</ion-item>
        <ion-item href="/pasteleria">Pasteleria</ion-item>
        <ion-item href="/blog">Blog</ion-item>
        <ion-item href="/login" *ngIf="isLoggedIn == false">Iniciar Sesión</ion-item>
        <ion-item href="/" *ngIf="isLoggedIn == true" (click)="logOut()">Cerrar Sesión</ion-item>
        <ion-item href="/carrito">Carrito</ion-item>
        <ion-item href="/boleta"  *ngIf="isLoggedIn == true && isAdmin == false && isFinalUser == false">Compras</ion-item>
        <ion-item href="/administracion" *ngIf="isAdmin == true || isFinalUser == true">Administración</ion-item>
      </ion-list>
    </ion-header>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar >
        <ion-buttons slot="start" class="menu-button">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
          <ion-row class="header ion-align-items-center">
            <ion-col size="1">
              <img src="assets/img/logo.jpg" width="50px">
            </ion-col>
            <ion-col size="10" class="ion-text-left">
              <ion-button fill="clear"  href="/">
              Inicio
              </ion-button>
              <ion-button fill="clear" *ngIf="isAdmin == false && isFinalUser == false" href="/contacto">
              Contacto
              </ion-button>
              <ion-button fill="clear"  href="/nosotros">
              Nosotros
              </ion-button>
              <ion-button fill="clear"  href="/noticias">
              Noticias
              </ion-button>
              <ion-button fill="clear" href="/panaderia">
              Panaderia
              </ion-button>
              <ion-button fill="clear" href="/pasteleria">
              Pasteleria
              </ion-button>
              <ion-button fill="clear" href="/blog">
              Blog
              </ion-button>
              <ion-button fill="clear" href="/boleta" *ngIf="isLoggedIn == true && isAdmin == false && isFinalUser == false">
              Boleta
              </ion-button>
              <ion-button fill="clear" *ngIf="isLoggedIn == false" href="/login">
              Iniciar sesión
              </ion-button>
              <ion-button fill="clear" *ngIf="isLoggedIn == true" (click)="logOut()" href="/">
              Cerrar sesión
              </ion-button>
              <ion-button fill="clear" *ngIf="isAdmin == true || isFinalUser == true"  href="/administracion">
              Administracion
              </ion-button>
            </ion-col>
            <ion-col size="1" class="cart">
              <ion-button fill="clear" href="/carrito">
                <ion-icon slot="icon-only" name="cart" ></ion-icon>
              </ion-button>
          </ion-col>
        </ion-row>
      </ion-toolbar>
    </ion-header>
  </div>



  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="centrar">
    <ion-button href="/administracion">Volver</ion-button>
  </div>

  <br>

  <ion-content>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Email</th>
          <th>Teléfono</th>
          <th>Mensaje</th>
          <th>Estado</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contacto of registroContacto">
          <td>{{ contacto.id }}</td>
          <td>{{ contacto.name + ' ' + contacto.lastName }}</td>
          <td>{{ contacto.email }}</td>
          <td>{{ contacto.phone }}</td>
          <td>{{ contacto.message }}</td>
          <td *ngIf="contacto.state == false">Pendiente</td>
          <td *ngIf="contacto.state == true">Completado</td>
          <td><ion-button (click)="getRegistroContacto(contacto)">Entrar</ion-button></td>
        </tr>
      </tbody>
    </table>

      <div class="carta" *ngFor="let contacto of registroContacto">
        <h2>ID: {{ contacto.id }}</h2>
        <p>Nombre: {{ contacto.name + ' ' + contacto.lastName }}</p>
        <p>Email: {{ contacto.email }}</p>
        <p>Teléfono: {{ contacto.phone }}</p>
        <p>Mensaje: {{ contacto.message }}</p>
        <p *ngIf="contacto.state == false">Estado: Pendiente</p>
        <p *ngIf="contacto.state == true">Estado: Completado</p>
        <div class="ion-text-center ion-align-items-center">
          <ion-button (click)="getRegistroContacto(contacto)">Entrar</ion-button>
        </div>
      </div>

  </ion-content>