.header{
    background-color: black;
    outline: white;
  }
  
  @media(min-width: 1200px){
    .menu-button{
      display: none;
    }
  
    .menu-main-content{
      display: none;
    }
  
   
    
  }
  
  @media(max-width:1200px){
    .header{
      display: none;
    }
  }
  
  .img-product{
    width: 200px;
    height: 200px;
    margin: auto;
    object-fit: cover;
  }

  .name{
    text-align: center;
    font-size: 30px;
  }

  .price{
    margin: 0px, 20px, 10px, 0px;
    text-align: center;
    font-size: 20px;
    color: #0062cc;
    font-weight: bold;
    
  }

  .desc{
    margin: 10px 20px 0px 0px;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
  }





  