@font-face {
  font-family: RobotoLight;
  src: url("/assets/fonts/Roboto-Light.ttf"); //change url accordingly
  }

*{
  font-family: 'RobotoLight', 'sans-serif';
}

.header{
    background-color: white;
    outline: white;
  }

  @media(min-width: 1024px){
    .menu-button{
      display: none;
    }

    .menu-main-content{
      display: none;
    }



  }

  @media(max-width:1023px){
    .header{
      display: none;
    }

  }

  .centrar{
    text-align: center;
  }

  ion-content{
    --background: #ffc3a0;
  }

  .carta, .carta-item{
    --background: #ffac75;
    color: black;
  }

  .datos{
    color: black;
    font-size: 16px;
  }

  ion-card-title{
    color: black;
    font-size: 24px;
  }