<ion-content >
  <ion-menu contentId="main-content" class="menu-main-content">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
      <ion-list>
        <ion-item href="/">Inicio</ion-item>
        <ion-item href="/contacto" *ngIf="isAdmin == false && isFinalUser == false">Contacto</ion-item>
        <ion-item href="/nosotros">Nosotros</ion-item>
        <ion-item href="/noticias">Noticias</ion-item>
        <ion-item href="/panaderia">Panaderia</ion-item>
        <ion-item href="/pasteleria">Pasteleria</ion-item>
        <ion-item href="/blog">Blog</ion-item>
        <ion-item href="/login" *ngIf="isLoggedIn == false">Iniciar Sesión</ion-item>
        <ion-item href="/" *ngIf="isLoggedIn == true" (click)="logOut()">Cerrar Sesión</ion-item>
        <ion-item href="/carrito">Carrito</ion-item>
        <ion-item href="/boleta"  *ngIf="isLoggedIn == true && isAdmin == false && isFinalUser == false">Compras</ion-item>
        <ion-item href="/administracion" *ngIf="isAdmin == true || isFinalUser == true">Administración</ion-item>
      </ion-list>
    </ion-header>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar >
        <ion-buttons slot="start" class="menu-button">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
          <ion-row class="header ion-align-items-center">
            <ion-col size="1">
              <img src="assets/img/logo.jpg" width="50px">
            </ion-col>
            <ion-col size="10" class="ion-text-left">
              <ion-button fill="clear"  href="/">
              Inicio
              </ion-button>
              <ion-button fill="clear" *ngIf="isAdmin == false && isFinalUser == false" href="/contacto">
              Contacto
              </ion-button>
              <ion-button fill="clear"  href="/nosotros">
              Nosotros
              </ion-button>
              <ion-button fill="clear"  href="/noticias">
              Noticias
              </ion-button>
              <ion-button fill="clear" href="/panaderia">
              Panaderia
              </ion-button>
              <ion-button fill="clear" href="/pasteleria">
              Pasteleria
              </ion-button>
              <ion-button fill="clear" href="/blog">
              Blog
              </ion-button>
              <ion-button fill="clear" href="/boleta" *ngIf="isLoggedIn == true && isAdmin == false && isFinalUser == false">
              Boleta
              </ion-button>
              <ion-button fill="clear" *ngIf="isLoggedIn == false" href="/login">
              Iniciar sesión
              </ion-button>
              <ion-button fill="clear" *ngIf="isLoggedIn == true" (click)="logOut()" href="/">
              Cerrar sesión
              </ion-button>
              <ion-button fill="clear" *ngIf="isAdmin == true || isFinalUser == true"  href="/administracion">
              Administracion
              </ion-button>
            </ion-col>
            <ion-col size="1" class="cart">
              <ion-button fill="clear" href="/carrito">
                <ion-icon slot="icon-only" name="cart" ></ion-icon>
              </ion-button>
          </ion-col>
        </ion-row>
      </ion-toolbar>
    </ion-header>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="centrar">
    <ion-button href="/noticias">Volver</ion-button>
  </div>

  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-img src="{{ formEditNews.get('img')?.value }}"></ion-img>
        </ion-col>
        <ion-col size="8">
          <ion-card-header>
            <ion-card-title>{{ formEditNews.get('title')?.value }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <br>
            <ion-label>{{ formEditNews.get('description')?.value }}</ion-label>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>