.header{
    background-color: black;
    outline: white;
  }
  
  @media(min-width: 1024px){
    .menu-button{
      display: none;
    }
  
    .menu-main-content{
      display: none;
    }
  
   
    
  }
  
  @media(max-width:1023px){
    .header{
      display: none;
    }
  
  }
  

  .img-product{
    width: 200px;
    height: 200px;
    margin: auto;
  }

  .title{
    text-align: center;
    font-size: 30px;
  }

  .entrar{
    text-align: center;
  }

  .administrator-title{
    text-align: center;
    font-size: 30px;
  }