<ion-content >
  <ion-menu contentId="main-content" class="menu-main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
      <ion-list>
        <ion-item href="/">Inicio</ion-item>
        <ion-item href="/contacto" *ngIf="isAdmin == false && isFinalUser == false">Contacto</ion-item>
        <ion-item href="/nosotros">Nosotros</ion-item>
        <ion-item href="/noticias">Noticias</ion-item>
        <ion-item href="/panaderia">Panadería</ion-item>
        <ion-item href="/pasteleria">Pastelería</ion-item>
        <ion-item href="/blog">Blog</ion-item>
        <ion-item href="/login" *ngIf="isLoggedIn == false">Iniciar Sesión</ion-item>
        <ion-item href="/" *ngIf="isLoggedIn == true" (click)="logOut()">Cerrar Sesión</ion-item>
        <ion-item href="/carrito">Carrito</ion-item>
        <ion-item href="/boleta"  *ngIf="isLoggedIn == true && isAdmin == false && isFinalUser == false">Compras</ion-item>
        <ion-item href="/administracion" *ngIf="isAdmin == true || isFinalUser == true">Administración</ion-item>
      </ion-list>
    </ion-header>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar >
        <ion-buttons slot="start" class="menu-button">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
          <ion-row class="header ion-align-items-center">
            <ion-col size="1">
              <img src="assets/img/logo.jpg" width="50px">
            </ion-col>
            <ion-col size="10" class="ion-text-left">
              <ion-button fill="clear"  href="/">
              Inicio
              </ion-button>
              <ion-button fill="clear" *ngIf="isAdmin == false && isFinalUser == false" href="/contacto">
              Contacto
              </ion-button>
              <ion-button fill="clear"  href="/nosotros">
              Nosotros
              </ion-button>
              <ion-button fill="clear"  href="/noticias">
              Noticias
              </ion-button>
              <ion-button fill="clear" href="/panaderia">
              Panadería
              </ion-button>
              <ion-button fill="clear" href="/pasteleria">
              Pastelería
              </ion-button>
              <ion-button fill="clear" href="/blog">
              Blog
              </ion-button>
              <ion-button fill="clear" href="/boleta" *ngIf="isLoggedIn == true && isAdmin == false && isFinalUser == false">
              Compras
              </ion-button>
              <ion-button fill="clear" *ngIf="isLoggedIn == false" href="/login">
              Iniciar sesión
              </ion-button>
              <ion-button fill="clear" *ngIf="isLoggedIn == true" (click)="logOut()" href="/">
              Cerrar sesión
              </ion-button>
              <ion-button fill="clear" *ngIf="isAdmin == true || isFinalUser == true"  href="/administracion">
              Administración
              </ion-button>
            </ion-col>
            <ion-col size="1" class="cart">
              <ion-button fill="clear" href="/carrito">
                <ion-icon slot="icon-only" name="cart" ></ion-icon>
              </ion-button>
          </ion-col>
        </ion-row>
      </ion-toolbar>
    </ion-header>
  </div>



  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="centrar">
    <ion-button href="/lista-registros-contacto">Volver</ion-button>
  </div>

  <br>

  <ion-content>

    <ion-title>Datos de la consulta</ion-title>
    <ion-grid >
      <ion-row >
        <ion-col size="12" class="ion-text-center" >
          <div class="info-box">
            <h2>Nombre: {{ formContact.get('name')?.value }}  {{ formContact.get('lastName')?.value }}</h2>
            <p>Email: {{ formContact.get('email')?.value }}</p>
            <p>Telefono: {{ formContact.get('phone')?.value }}</p>
            <p>Mensaje: {{ formContact.get('message')?.value }}</p>
            <p *ngIf="formContact.get('state').value == false">Estado de la consulta: Pendiente</p>
            <p *ngIf="formContact.get('state').value == true">Estado de la consulta: Respondido</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <br>
    <ion-title class="centrar">Si deseas cambiar el estado de la consulta puedes hacerlo aqui abajo</ion-title>
    <div class="register-form ion-padding">
      <form [formGroup]="formContact">
        <div class="form-input">
          <ion-select aria-label="state" class="centrar" placeholder="Si ha respondido a la consulta cambie el estado de la consulta" formControlName="state">
            <ion-select-option [value]="false">Pendiente</ion-select-option>
            <ion-select-option [value]="true">Respondido</ion-select-option>
          </ion-select>
      </div>
      <div class="ion-text-center ion-align-items-center">
        <ion-button (click)="actualizarEstadoConsulta()">Cambiar Estado</ion-button>
      </div>
      </form>
    </div>



  </ion-content>