.header{
    background-color: black;
    outline: white;
  }

  @media(min-width: 1024px){
    .menu-button{
      display: none;
    }

    .menu-main-content{
      display: none;
    }



  }

  @media(max-width:1023px){
    .header{
      display: none;
    }

  }

  ion-grid {
    margin-top: 20px;
  }

  .ion-text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .info-box {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
  }

  h2, p {
    margin: 10px 0;
  }

  h2 {
    font-size: 24px;
    font-weight: bold;
  }

  p {
    font-size: 18px;
  }

  .centrar{
    text-align: center;
    align-items: center;
  }

