.header{
    background-color: black;
    outline: white;
  }

  @media(min-width: 1024px){
    .menu-button{
      display: none;
    }

    .menu-main-content{
      display: none;
    }



  }

  @media(max-width:1023px){
    .header{
      display: none;
    }

  }


  .compra-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }

  .producto-card {
    border: 1px solid #ddd;
    padding: 5px;
    margin-bottom: 5px;
  }

  .centrar{
    align-items: center ;
    align-content: center;
    text-align: center;
    font-size: 24px;
  }