<ion-content >
  <ion-menu contentId="main-content" class="menu-main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
      <ion-list>
        <ion-item href="/">Inicio</ion-item>
        <ion-item href="/contacto" *ngIf="isAdmin == false && isFinalUser == false">Contacto</ion-item>
        <ion-item href="/nosotros">Nosotros</ion-item>
        <ion-item href="/noticias">Noticias</ion-item>
        <ion-item href="/panaderia">Panadería</ion-item>
        <ion-item href="/pasteleria">Pastelería</ion-item>
        <ion-item href="/blog">Blog</ion-item>
        <ion-item href="/login" *ngIf="isLoggedIn == false">Iniciar Sesión</ion-item>
        <ion-item href="/" *ngIf="isLoggedIn == true" (click)="logOut()">Cerrar Sesión</ion-item>
        <ion-item href="/carrito">Carrito</ion-item>
        <ion-item href="/boleta"  *ngIf="isLoggedIn == true && isAdmin == false && isFinalUser == false">Compras</ion-item>
        <ion-item href="/administracion" *ngIf="isAdmin == true || isFinalUser == true">Administración</ion-item>
      </ion-list>
    </ion-header>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar >
        <ion-buttons slot="start" class="menu-button">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
          <ion-row class="header ion-align-items-center">
            <ion-col size="1">
              <img src="assets/img/logo.jpg" width="50px">
            </ion-col>
            <ion-col size="10" class="ion-text-left">
              <ion-button fill="clear"  href="/">
              Inicio
              </ion-button>
              <ion-button fill="clear" *ngIf="isAdmin == false && isFinalUser == false" href="/contacto">
              Contacto
              </ion-button>
              <ion-button fill="clear"  href="/nosotros">
              Nosotros
              </ion-button>
              <ion-button fill="clear"  href="/noticias">
              Noticias
              </ion-button>
              <ion-button fill="clear" href="/panaderia">
              Panadería
              </ion-button>
              <ion-button fill="clear" href="/pasteleria">
              Pastelería
              </ion-button>
              <ion-button fill="clear" href="/blog">
              Blog
              </ion-button>
              <ion-button fill="clear" href="/boleta" *ngIf="isLoggedIn == true && isAdmin == false && isFinalUser == false">
              Compras
              </ion-button>
              <ion-button fill="clear" *ngIf="isLoggedIn == false" href="/login">
              Iniciar sesión
              </ion-button>
              <ion-button fill="clear" *ngIf="isLoggedIn == true" (click)="logOut()" href="/">
              Cerrar sesión
              </ion-button>
              <ion-button fill="clear" *ngIf="isAdmin == true || isFinalUser == true"  href="/administracion">
              Administración
              </ion-button>
            </ion-col>
            <ion-col size="1" class="cart">
              <ion-button fill="clear" href="/carrito">
                <ion-icon slot="icon-only" name="cart" ></ion-icon>
              </ion-button>
          </ion-col>
        </ion-row>
      </ion-toolbar>
    </ion-header>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>

  <div *ngIf="isAdmin == true || isFinalUser == true" class="centrar">
    <ion-button href="/administracion">Volver</ion-button>
  </div>

  <br>

  <ion-title class="ion-text-center">Compras realizadas</ion-title>
  <br>
  <p class="esperar">Tus compras pueden tardar un poco en cargar, sea paciente (tiempo estimado 5 segundos si no carga nada comunicar problema en sección "Contacto")</p>

    <div class="compra-card" *ngFor="let compra of compras">
      <h2>Orden de compra: {{ compra.orden_compra }}</h2>
      <p *ngIf="isAdmin == true || isFinalUser == true" >Token: {{ compra.token }}</p>
      <p>Email del comprador: {{ compra.email_comprador }}</p>
      <p>Nombre del comprador: {{ compra.nombre_comprador + ' ' + compra.apellido_comprador }}</p>
      <p>Precio total: {{ compra.precio_total }}</p>
      <p>Fecha: {{ compra.fecha }}</p>
      <p>Estado: {{ compra.estado }}</p>
      <h3>Productos:</h3>
      <div class="producto-card" *ngFor="let producto of compra.productos">
        <p>Nombre: {{ producto.nombre_producto }}</p>
        <p>Precio: {{ producto.price }}</p>
        <p>Cantidad: {{ producto.compra }}</p>
      </div>
      <div class="ion-text-center ion-align-items-center">
        <ion-button (click)="generarPDF(compra.orden_compra)">Boleta</ion-button>
        <ion-button color="danger" (click)="cancelarCompra(compra.token, compra.precio_total, compra.orden_compra)" *ngIf="isAdmin == true || isFinalUser == true" >Reembolsar compra</ion-button>
      </div>
    </div>

