@font-face {
  font-family: RobotoLight;
  src: url("/assets/fonts/Roboto-Light.ttf"); //change url accordingly
  }

*{
  font-family: 'RobotoLight', 'sans-serif';
}

.header{
    background-color: white;
    outline: white;
  }

  @media(min-width: 1024px){
    .menu-button{
      display: none;
    }

    .menu-main-content{
      display: none;
    }



  }

  @media(max-width:1023px){
    .header{
      display: none;
    }

  }


  .compra-card {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
    color: black;
    background: #ffac75;
  }

  .producto-card {
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 5px;
  }

  .centrar{
    align-items: center ;
    align-content: center;
    text-align: center;
    font-size: 24px;
  }

  ion-content{
    --background: #ffc3a0;
  }

  ion-title{
    color: black;
    font-size: 24px;
  }

  .esperar{
    color: black;
    font-size: 16px;
    text-align: center;
  }