@font-face {
  font-family: RobotoLight;
  src: url("/assets/fonts/Roboto-Light.ttf"); //change url accordingly
  }

*{
  font-family: 'RobotoLight', 'sans-serif';
}

.header{
    background-color: white;
    outline: white;
  }

  @media(min-width: 1024px){
    .menu-button{
      display: none;
    }

    .menu-main-content{
      display: none;
    }



  }

  @media(max-width:1023px){
    .header{
      display: none;
    }

  }



.centrar{
    text-align: center;
  }

  .img-product{
    width: 200px;
    height: 200px;
    margin: auto;
  }

  .title{
    text-align: center;
    font-size: 30px;
  }

  .desc{
    margin: 10px 20px 0px 0px;
    text-align: center;
    font-size: 20px;
    color: black;
  }

  ion-content{
    --background: #ffc3a0;
  }

.carta, ion-item{
  --background: #ffac75;
  color: black;
}