.header{
  background-color: black;
  outline: white;
}

@media(min-width: 1024px){
  .menu-button{
    display: none;
  }

  .menu-main-content{
    display: none;
  }



}

@media(max-width:1023px){
  .header{
    display: none;
  }

}

.fondo{
  background-color: #e08e00;
}

header{
  background-color: #e08e00;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

header h1{
  color: white;
  font-size: 50px;
}

header img{
  border-radius: 170px;
  width: 300px;
  border: 20px solid white;
}

.titulo{
  text-align: center;
  font-size: 32px;
}


.card {
  position: relative;
  width: 200px;
  height: 200px;
}

.col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 22px;
}

.column-center {
  display: grid;
  justify-content: center;
  gap: 4px;
  align-content: center;
  grid-auto-flow: column;
}


.image {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

h2 {
  margin-top: 20px;
}

.img-product{
  width: 200px;
  height: 200px;
  margin: auto;
  object-fit: cover;
}

.name{
  text-align: center;
  font-size: 30px;
}

.price{
  margin: 0px, 20px, 10px, 0px;
  text-align: center;
  font-size: 20px;
  color: #0062cc;
  font-weight: bold;

}

.desc, .stock{
  margin: 10px 20px 0px 0px;
  text-align: center;
  font-size: 20px;
}


.boton{
  text-align: center;
}