.header{
  background-color: black;
  outline: white;
}

@media(min-width: 1024px){
  .menu-button{
    display: none;
  }

  .menu-main-content{
    display: none;
  }

 
  
}

@media(max-width:1023px){
  .header{
    display: none;
  }

}



header{
  background-color: #e08e00;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

header h1{
  color: white;
  font-size: 50px;
}

main{
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

main img{
  max-width: 100%;
}

header img{
  border-radius: 170px;
  width: 300px;
  border: 20px solid white;
}

h2{
  font-size: 30px;
  margin: 40px 0 10px;
}

a{
  color: #e70c19;
}

a:hover{
  color: white;
  background-color: #483a94;
}

footer{
  background-color: #e08e00;
  text-align: center;
  color: white;
}

footer a{
  color: white;
}

footer p{
  margin: 0;
}

footer a:hover{
  opacity: .5;
  background-color: transparent;
}

p.caption{
  color:  #999999;
  font-style: italic;
  margin-top: 0;
}
