
<ion-content>
  <ion-menu contentId="main-content" class="menu-main-content">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
      <ion-list>
        <ion-item href="/"><ion-icon name="chatbubble-outline"></ion-icon> Inicio</ion-item>
        <ion-item href="/contacto"><ion-icon name="chatbox-ellipses-outline"></ion-icon> Contacto</ion-item>
        <ion-item href="/nosotros"><ion-icon name="construct-outline"></ion-icon> Nosotros</ion-item>
        <ion-item href="/panaderia"><ion-icon name="business-outline"></ion-icon> Panaderia</ion-item>
        <ion-item href="/login"><ion-icon name="person-sharp"></ion-icon>Login</ion-item>
        <ion-item href="/carrito"><ion-icon name="cart"></ion-icon>Carrito</ion-item>
      </ion-list>
    </ion-header>
    <ion-content class="ion-padding">This is the menu content.</ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar >
        <ion-buttons slot="start" class="menu-button">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
          <ion-row class="header ion-align-items-center">
            <ion-col size="1">
              <img src="https://cdn.moriyashrine.org/monthly_2019_12/magnificent.thumb.jpeg.ca7c07940a465c57296f6aa13fbfb9cc.jpeg" width="50px">
            </ion-col>
            <ion-col size="5.4" class="ion-text-left">
              <ion-button fill="clear"  href="/">
              Inicio
              </ion-button>
              <ion-button fill="clear"  href="/contacto">
              Contacto
              </ion-button>
              <ion-button fill="clear"  href="/nosotros">
              Nosotros
              </ion-button>
              <ion-button fill="clear" href="/panaderia">
              Panaderia
              </ion-button>
            </ion-col>
            <ion-col size="1" class="cart">
              <ion-button fill="clear" href="/carrito">
                <ion-icon slot="icon-only" name="cart" ></ion-icon>
              </ion-button>
          </ion-col>
        </ion-row>
      </ion-toolbar>
    </ion-header>
  </div>

  <br>
  <header>
    <img src="https://z-p3-scontent.fscl27-1.fna.fbcdn.net/v/t39.30808-6/293214422_450733787058201_2819755357514888976_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=1yaR02Fx8LMAX8MpPsW&_nc_zt=23&_nc_ht=z-p3-scontent.fscl27-1.fna&oh=00_AfDmKbwGAGiTdwhCc7S0w-iApjJKK-ErdOwkb5UHuUsKSg&oe=644C641B" alt="">
    <h1>Olivia panaderia y pasteleria saludable</h1>
  </header>

  <main>
    
    <!--Acerca de-->
    <h2>Acerca de Olivia panaderia y pasteleria saludable</h2>
    <p>(ingresar texto con informacion de la pagina)
    </p>
    <img src="https://z-p3-scontent.fscl27-1.fna.fbcdn.net/v/t39.30808-6/293214422_450733787058201_2819755357514888976_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=1yaR02Fx8LMAX8MpPsW&_nc_zt=23&_nc_ht=z-p3-scontent.fscl27-1.fna&oh=00_AfDmKbwGAGiTdwhCc7S0w-iApjJKK-ErdOwkb5UHuUsKSg&oe=644C641B" alt="">
    <p class="caption"></p>

    <!--Caracteristicas-->
    <h2>Acerca de nuestro productos</h2>
    <p>(ingresar informacion de los productos)</p>
    <!--Amigos-->
    <h2>Horario</h2>
    <p>(ingresar horario)</p>
  </main>

  <footer>
    <p>(Espacio para iconos redes sociales y demás cosas)</p>
  </footer>
</ion-content>
