@font-face {
    font-family: RobotoLight;
    src: url("/assets/fonts/Roboto-Light.ttf"); //change url accordingly
    }

  *{
    font-family: 'RobotoLight', 'sans-serif';
  }


.header{
    background-color: white;
    outline: white;
  }

  @media(min-width: 1024px){
    .menu-button{
      display: none;
    }

    .menu-main-content{
      display: none;
    }



  }

  @media(max-width:1023px){
    .header{
      display: none;
    }

  }



.register-section{
    height: 110vh;
    width: 100%;
    max-width: 500px;
    background: #fff;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    border-top-left-radius: 46px;
    border-top-right-radius: 46px;
    border-bottom-left-radius: 46px;
    border-bottom-right-radius: 46px;
}

.heading{
    margin-top: 20px;
    text-align: center;
    h1{
        font-size: 1.6rem;
        font-weight: bolder;
        color: black;
    }
    p{
        margin-top: 20px;
        font-size: 1rem;
        color: #7b7b7b;
    }
}

.register-form{
    .form-input{
        position: relative;
        margin-bottom: 10px;
        ion-item:part(native){
            padding-left: 0;
        }

        ion-icon{
            position: absolute;
            top: 37px;
            z-index: 2;
            font-size: 1.2rem;
            left: 5px;
        }

        ion-label{

            margin-left: 35px;
            font-weight: bolder;
            font-size: 0.8rem;
            top: 3px;
        }

        ion-input{
            font-size: 0.9rem;
            --padding-start: 36px;
            --paddint-top: 36px;
            color: #7b7b7b;
        }
    }
}

.action-buttons{
    text-align: center;

    .register{
        --background: #f9b801;
        --border-color: #b4b4b4;
        color: #000000;
        font-weight: bold;
        margin-top: 30px;
        width: 100%;
    }
}

p{
    color: #000000;
}

ion-content{
    --background: #ffc3a0;
  }